body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    box-sizing: border-box;
}
.topnav {
    overflow: hidden;
    background-color: #656161;
  }
  
  .topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    /* background-color: rgb(21, 109, 112); */
    color: white;
  }

header{
    text-align: center;
    background-color: antiquewhite;
    color: rgb(21, 109, 112);
    padding: 10px;
}

p{
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(222, 177, 163);
    color: white;
    bottom: 0;
  }